
ex1/.vs/ex1/v16/Browse.VC.db
ex1/.vs/slnx.sqlite
ex1/.vs/ProjectSettings.json
ex1/.vs/ex1/v16/ipch/AutoPCH/62e68438a8ac157a/BP.ipch
ex1/.vs/ex1/v16/ipch/AutoPCH/30b3e69c4874e35c/BP_MAIN.ipch
ex1/.vs/ex1/v16/Browse.VC.opendb
ex1/.vs/ex1/v16/Browse.VC.db-wal
ex1/.vs/ex1/v16/Browse.VC.db-shm
ex1/.vs/ex1/v16/.suo
